<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="" th:href="@{/css/mycss.css}" />
</head>
<body>
	
	<div class="container">
	
	<img src="" th:src="@{/image/imageName.png}" alt="" />
	
	<h1>This is container</h1>
	   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	    Odio officia veritatis dicta veniam minima itaque aperiam iste possimus 
	    vero laboriosam asperiores doloribus quod libero tempore ut laborum 
	    ad ea beatae unde iusto voluptates obcaecati dolorum praesentium aliquid
	     laudantium qui quas sunt. Quia suscipit voluptates fugit quos in quae debitis. Nisi.</p>
	</div>
	
	<script src="" th:src="@{js/myjs.js}"></script>
</body>
</html>